*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100vw;
    background:url('image/hero-bg-1.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    z-index:1;
    display: block;
}
.hero::before{
    content:'';
    height: 100%;
    width:100%;
    position: absolute;
    top:0;
    left: 0;
    background-image:linear-gradient(to right,rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
    z-index:-1;
}
nav{
    /* background-color: rgb(202, 27, 225); */
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin: 0px 10%;
}
nav ul li{
    display: inline;
    margin-right: 25px;
}
nav h2{
    margin-right: auto;
    color: lightsalmon;
}
nav ul li a{
   
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: all ease 0.5s;
}
.btn{
    color: #fff;
    text-decoration: none;
    background-color: rgb(44, 106, 32);
    padding: 13px 20px;
    border-radius: 20px;
    color: black;
    line-height: 0.2;
    color: #fff;  
    transition: all ease 0.5s;
   
}
nav ul li a:hover{
   color: #000000;

}
.btn:hover{
    background-color: lightgreen;
    color: #000000;
}
/* content */
.content{
    margin: 120px 10%;
    /* padding: 130px; */

}
.content h3{
    color: blue;
}
.content h2{
    margin-top:20px;
    color: #fff;
    font-size: 40px;
}
.content h4{
    color: rgb(187, 181, 181);
    margin-top:23px;
    font-size:19px;
    margin-right: 15px;
}
input[type="text"]{
    margin-top:40px;
    padding: 14px 130px;
    border-radius: 30px;
    color: #000000;
    margin-right: 25px;
    box-shadow: 0 2px 6px rgba(104, 101, 101, 0.15);
    border: 2px solid #00bfff;
    outline: none;

}
input[type="text"]:hover{
    text-shadow: 1px 3px 2px rgb(88, 88, 204);
}
.subcribe a{
    color: #151313;
    text-decoration: none;
    /* background-color: #fff; */
    font-size: 18px;
    padding: 8px 55px;
    border-radius: 24px;
    border: 1px solid #fff;
    transition: all 0.5s ease;
    position:relative;
    top:60px;

}
.subcribe a:hover{
   background-color:#fff;
   color: rgb(52, 52, 173);
   transform:scale(1px);

}
.subcribe{
    position: relative;
}
/* about me */
.about_me{
    background-color:#6195e3;
    padding: 20px;
    height:fit-content;
    transition: all 0.5s ease;
}
.main{
    display: flex;
}
.about_content{
    margin-left: 30px;
    margin-top: 15px;
    /* line-height: 50px; */
}
.about_content h1{
   color: gainsboro;
   font-size:34px;
}
.about_content h5{
    color: #fff;
    margin-top: 13px;
    font-size: 24px;
}
.about_content p{
    margin-top: 25px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
}
/* skill section */
/* #04BF8A */
.skill{
    background-color:#7f58f3;
    width:100%;
    padding: 50px;
}
.title h2{
    text-align: center;
    font-size:45px;
    color: #fff;
    padding: 10px;
}
.box{
    display: flex;
    justify-content:space-around;
    
}
.card{
    /* border: 2px solid red; */
    height:300px;
    width: 400px;
    padding: 20px;
    text-align: center;
    background-color: rgb(176, 192, 216);
    border-radius:25px;
    transition: all 0.5s ease;
} 
.card h4{
    text-align: center;
    font-size:30px;
    color: beige;
}
.card p{
   margin-top:20px;
   text-align: center;
   font-size: 19px;
   padding: 29px;
}
.card a{
   text-decoration:none;
   background-color: red;
   color: #fff;
   padding: 13px 30px;
   border-radius: 30px;
   text-align: center;
}
 .card i {
    font-size: 35px;
    margin: 14px;
    color: #ff0000;
}
.card:hover{
    box-shadow: 8px 4px 7px #4290e3;
    transform: scale(1.1);
}
/* hire me */
.Hire_me{
    background-color: cadetblue;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.Hire_me h1{
    color: #fff;
}
.hire_me a{
    margin-top:2em;
    background-color: #ff0000;
    padding: 15px 40px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    transition: all 0.5 ease-in ;
}
.hire_me a:hover{
    /* background-color: #e47777; */
    transform: scale(1.1);
}
.auther{
    background-color:lightslategrey;
    height: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.auther h4{
    color: #fff;
    font-size:29px;
}
.auther p{
    color: #fff;
    font-size:19px;
}
.social_media a i{ 
   font-size:30px;
   margin-right:25px;
   color: #ff0000;
   transition: all ease 0.5s;
}
.social_media a i:hover{
   
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 50%;
    background-color: lightcyan;
}
/* resonsive try panalam sir */
@media only screen and (max-width:900px) {
    .Box{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .card{
        margin-top:30px;
        width:80%;
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .subcribe a{
        position: absolute;
        top: 150px;
    
    }
}
@media only screen and (max-width:1000px) {
    .Box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    .card{
        margin-top: 20px;
        
    }
}
/* ANIMATION */
.content h2{
    animation: colors;
    animation-duration:3s;
    animation-timing-function:ease ;
    animation-iteration-count: infinite;
    
}
@keyframes colors{
    0%{
       color: red;
    }
    25%{
        color: rgb(0, 64, 255);
     }
    50%{
        color: #5eff00;
     }
    75%{
        color: rgb(240, 221, 9);
     }
    100%{
        color: #e91bf4;
     }
}